*{
    font-family: 'Crimson Text', serif;
}
.container{
    background: url(../images/1-basic.png);
}

.btn{
    margin-top: 5px;
    float: center;
}
body{
    background: url(../images/hp.jpg); 
    background-size: cover; 
    font-size: 15px;  
    text-align: center;
}

#quiz{
    border: darkred solid 5px;
    padding-top: 15px;
    background-color: bisque;
    color: darkslategrey;
    padding-bottom: 15px;
}
.question{
    font-weight: 600;
    font-size: 20px;
}
.answers {
    margin-bottom: 10px;
    font-size: 18px;
}
.answers label {
    display: block;
}

#clock {
    background-color: bisque;
    color: brown;
    display: table;
    position: absolute;
    left: 36%;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 2px black;
}
#backdrop {
    width: 800px;
    background-color: black;
    margin: 50px;
    margin-left: 10vw;
}
#results {  
    display: table;
    position: absolute;
    top: 30%;
    right: 38%;
    font-size: 230px;
    background-color: bisque;
    color: red;
    text-shadow: 0 1px 0 black;
}

#startButton {
    margin-top: 10px;
    background-color: whitesmoke;
}
#startGame:hover{
    background-color: green;
}

#startGame {
    text-shadow: 0 1px 1px white;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    font-size: 40px;
}
