*{
    font-family: 'Crimson Text', serif;
}
.btn{
    margin-top: 5px;
    float: center;
}
body{
    background: url(../images/hp.jpg);
    
    background-size: cover;
   
   
    font-size: 15px;
    font-family: sans-serif;
    color: #333;
    text-align: center;
}
.question{
    font-weight: 600;
    font-size: 20px;
}
.answers {
    margin-bottom: 10px;
    font-size: 14px;
}
.answers label {
    display: block;
}

#clock {
    background-color: cornsilk;
    color: brown;
    display: table;
    position: absolute;
    left: 38%;
    padding: 3px;
    margin-top: 3px;
}
#backdrop {
    width: 800px;
    
    margin: 50px;
    margin-left: 10vw;
}
#results {
   
    display: table;
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 230px;
    background-color: whitesmoke;
    color: red;
    text-shadow: 0 1px 0 black;
}

#startButton {
    margin-top: 10px;
    background-color: whitesmoke;
}

#startGame {
    text-shadow: 0 1px 1px white;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    font-size: 40px;
}
