body{
    background: url(../images/hp.jpg);
    background-position: center;
    background-size: cover;
    font-size: 15px;
    font-family: sans-serif;
    color: #333;
    text-align: center;
}
.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 10px;
}
.answers label {
    display: block;
}

#clock {
    background-color: cornsilk;
    color: brown;
    display: table;
    position: absolute;
    left: 30%;
}
#backdrop {
    width: 800px;
    height: 100vh;
    margin: 50px;
    margin-left: 10vw;
}
#results {
    display: table;
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 130px;
    background-color: whitesmoke;
    color: orange;
}

#startButton {
    margin-top: 10px;
    background-color: whitesmoke;
}

#startGame {
    background-color: red;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,50%);
    font-size: 40px;
}
